<app-modal #modal>
    <div modal-header>
        <h1 class="text-gray-200 font-medium text-lg">
            {{ reminderId ? 'Edit reminder' : 'Create new reminder' }}
        </h1>
    </div>

    <div modal-body>
        <div [formGroup]="eventForm">
            <div class="mb-6">
                <label for="color" class="mb-2 mr-2 text-sm font-medium">Color</label>
                <input class="cursor-pointer rounded-full w-5 h-5 border" [(colorPicker)]="color"
                    [style.background]="color" (colorPickerChange)="onChangeColor($event)" />
            </div>

            <div class="mb-6">
                <label for="date" class="block mb-2 text-sm font-medium">
                    Date
                </label>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" formControlName="date" readonly="true"
                    class="border block w-full text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500" />
                <owl-date-time #dt1></owl-date-time>
            </div>

            <div class="mb-6">
                <label for="city" class="block mb-2 text-sm font-medium">
                    City
                </label>
                <select formControlName="city" aria-placeholder="Choose a city"
                    class="border block w-full text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500">
                    <option [ngValue]="null" disabled>Choose a city</option>
                    <option *ngFor="let city of cities" [ngValue]="city">
                        {{ city.name }}
                    </option>
                </select>
            </div>

            <div class="mb-6">
                <label for="description" class="block mb-2 text-sm font-medium">
                    Description
                </label>
                <input formControlName="description"
                    maxlength="30" class="border block w-full text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-200 text-gray-200 focus:ring-blue-500 focus:border-blue-500" />
            </div>
        </div>
    </div>

    <div modal-footer>
        <div class="flex w-full">
            <button (click)="save()"
                class="ml-auto bg-blue-700 border border-blue-700 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-blue-600">
                Save
            </button>
        </div>
    </div>
</app-modal>